.form {
  position: relative;

  &:has(input:focus-visible) {
    outline: 1px solid black;
  }

  &::before {
    top: 0;
    left: 0;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    content: "";
    background: url('@/shared/assets/icons/search-icon.svg') center no-repeat;
  }
}
