@import './utils.css';
@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme {
  --color-blue-77: #77a6f7;
  --color-blue-d3: #d3e3fc;
  --color-blue-16: #1682fd;
  --color-beige-ff: #ffccbc;
  --color-gray-80: #808080;
  --color-gray-ea: #eaeaea;
  --color-orange-f4: #f48023;
  --color-ligth-fc: #fcf4ec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
