.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip-path: inset(100%) !important;
}

/* Анимация скелетона */

@utility skeleton-group {
  pointer-events: none;
  user-select: none;

  /* Запускаем пульсацию для всей группы */
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  /* Находим все вложенные элементы (кнопки, инпуты, спаны, картинки) */
  & * {
    color: transparent !important;
    background-color: var(--color-gray-ea) !important;
    border-color: transparent !important;
    border-radius: inherit; /* наследуем скругления, если они есть */
    box-shadow: none !important;
  }

  /* Отдельно убираем видимость иконок и картинок, чтобы они не просвечивали */
  & img,
  & svg {
    opacity: 0 !important;
  }
}
